.container {
display: grid;
grid-gap: 0em;
grid-template-rows: auto 1fr auto;
place-content: center;
grid-template-columns: 1fr;
grid-template-areas: "header" "coloringBox" "buttons";
}

.parent-block {
grid-area: coloringBox;
margin: 1em auto; 
background-color: azure;
width:30vw;
height:30vw;
border: 5px solid black;
border-radius: 15px;
}

.title {
grid-area: header;
justify-self: center;
font-size: 2vw;
font-family: "Courier New", Courier, monospace;
}

.game-buttons{
grid-area: buttons;
justify-self: center;
}

.game-buttons button {
background: transparent;
border: 3px solid rgba(20, 20, 20, 0.877);
border-radius: 20px;
font-size: 2vw;
font-family: "Courier New", Courier, monospace;
}

button:hover {
    background: #66ccff;
}

h1 {
    margin-bottom: 10px;
}